In [1]:
from hmmlearn.hmm import MultinomialHMM
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv('module1.csv')
df.head(10)

   age  sex  city  education_status        sds  relation  relatives
0   36  1.0     1                 0  [0, 1, 0]       0.0          0
1   31  1.0     2                 0  [0, 0, 0]       0.0          0
2    0  1.0     2                 0  [0, 0, 0]       0.0          0
3   31  2.0     1                 0  [0, 1, 0]       0.0          0
4    0  2.0     2                 2  [0, 0, 0]       0.0          0
5   36  2.0     2                 3  [0, 0, 0]       4.0          2
6    0  2.0     2                 3  [1, 0, 0]       1.0          0
7    0  1.0     2                 0  [0, 0, 0]       0.0          0
8   29  1.0     2                 0  [0, 0, 0]       0.0          0
9   30  1.0     2                 0  [0, 0, 0]       0.0          0

In [3]:
df = df.loc[(df['age'] != 0) & (df['age'] <= 60) & (df['sex'] != 0)]

In [4]:
train_data = pd.DataFrame()
train_data['age'] = df['age'].apply(lambda x: 1 if (x>= 13)&(x < 20) else x)
train_data['age'] = train_data['age'].apply(lambda x: 2 if (x>= 20)&(x < 25) else x)
train_data['age'] = train_data['age'].apply(lambda x: 3 if (x>= 25)&(x < 30) else x)
train_data['age'] = train_data['age'].apply(lambda x: 4 if (x>= 30)&(x < 35) else x)
train_data['age'] = train_data['age'].apply(lambda x: 5 if (x>= 35)&(x < 40) else x)
train_data['age'] = train_data['age'].apply(lambda x: 6 if (x>= 40)&(x < 45) else x)
train_data['age'] = train_data['age'].apply(lambda x: 7 if (x>= 45)&(x <= 60) else x)
train_data.groupby(['age'])['age'].count()

age
1    6765
2    9359
3    4289
4    2732
5    1236
6     662
7    1031
Name: age, dtype: int64

In [5]:
train_data['sex'] = df['sex']

In [6]:
train_data['city'] = df['city'].apply(lambda x: 3 if (x != 1)&(x != 2) else x)
train_data['city'].unique()

array([1, 2, 3], dtype=int64)

In [7]:
train_data['edu'] = df['education_status']
train_data['edu'] = train_data['edu'].apply(lambda x: x + 1)
train_data['edu'].unique()

array([1, 4, 2, 3, 5], dtype=int64)

In [8]:
train_data.iloc[:, :] = train_data.iloc[:, :].astype(np.int32)
train_data.head(10)

    age  sex  city  edu
0     5    1     1    1
1     4    1     2    1
3     4    2     1    1
5     5    2     2    4
8     3    1     2    1
9     4    1     2    1
16    5    2     2    1
18    4    2     2    1
20    5    1     2    1
25    4    1     1    1

In [9]:
train_data.shape

(26074, 4)

In [10]:
train_data = train_data.sample(50)
train_data.shape

(100, 4)

In [11]:
from pomegranate import *


observed_seq = train_data.values
model = HiddenMarkovModel.from_samples(DiscreteDistribution, n_components=35,X=observed_seq,n_jobs=-1)